<ion-view view-title="Présentation" cache-view="false">
  <ion-content has-bouncing="false" id="pres">
    <div class="header-pres">
      <div class="row">
        <div class=" col col-50">
          <h2 class="title">DES PROJETS ET
            DES SERVICES
            UNIQUES.</h2></div>
        <div class="col"><img src="img/presentation.png"></div>
      </div>
    </div>

    <div class="content-pres">
      <div class="video-overlay">
      </div>

      <video autoplay loop webkit-playsinline id="bgvid">
        <source src="videos/ege_plomberie.mp4" type='video/webm'/>
        <source src="videos/ege_plomberie.mp4" type='video/mp4'/>
      </video>
      <h4>Apprenez à nous connaître.</h4>
      <hr>
      <br/>
      <p>EGE (Entreprise Génie Energétique) est une entreprise Marocaine leader dans les domaines des énergies
        renouvelables, de la climatisation, du chauffage et de la plomberie.</p>
      <p>À la pointe des nouvelles technologies, EGE n’a cessé de créer de nouvelles activités et partenariats
        oeuvrant
        dans les différents secteurs : touristique, habitation, énergie renouvelable, industriel, et publique.
      </p>
      <p>Aujourd’hui la notoriété d’EGE est reconnue par son expérience, ses compétences, son savoir-faire, son
        dynamisme, en répondant pleinement aux exigences spécifiques de la clientèle.</p>
    </div>


  </ion-content>
</ion-view>
