<ion-view view-title="Engagements">
  <ion-content has-bouncing="false" id="pres">
    <div class="header-engagements">
      <div class="row">
        <div class=" col col-50">
          <h2 class="title">UN SEUL <span style="white-space: nowrap;">ENGAGEMENT,</span><br> VOUS SERVIR.</h2></div>

        <div class="col"><img src="img/engagement.png"></div>
      </div>
    </div>
    <section class="certification">
      <div class="certification-ribbon">
        <img src="img/certifications/iso-9001.png">
      </div>
      <p>
        La norme <strong>ISO 9001</strong> définit une série d’exigences concernant la mise en place d’un système de
        gestion de la
        qualité dans un organisme, quels que soient sa taille et son secteur d’activité. Elle fait partie de la série
        des normes ISO 9000. Elle a été créée en 1987 et est régulièrement révisée depuis. Sa première révision date de
        1994, la suivante de 2000, qui a intégré la notion de processus, et la dernière de 2015 a été publiée par le
        sous-comité SC 2 du comité technique ISO/TC 176.
      </p>
    </section>

    <section class="certification">
      <div class="certification-ribbon">
        <img src="img/certifications/iso-ohsas.png">
      </div>
      <p>
        La norme <strong>OHSAS 18001</strong> indique la méthode de mise en place d’un <strong>management de la santé et
        la sécurité au travail</strong>
        et les exigences qu’il recquiert. L’objectif est d’obtenir une meilleure gestion des risques afin de réduire le
        nombre d’accidents, de se conformer à la législation et d’améliorer les performances. (Cette certification est
        en cours de préparation)
      </p>
    </section>

    <section class="certification">
      <div class="certification-ribbon">
        <img src="img/certifications/iso-9001.png">
      </div>
      <p>
        <strong>ISO 14001</strong> est la dénomination d’une norme qui concerne le management environnemental et dont les caractères sont
        propres à rassurer les consommateurs soucieux de l’environnement. Elle est une partie intégrante des normes
        d’organisation et l’ISO ou Organisation Internationale de la Normalisation (International Organisation for
        Standardization) en est l’organisme créateur. (Cette certification est en cours de préparation)
      </p>
    </section>

  </ion-content>
</ion-view>
