<ion-view view-title="EGE" cache-view="false">
    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page>
                <div class="box blue">
                    <div class="centered">
                        <h1>Maîtrisez le climat</h1>
                        <h3>Des systèmes de climatisation<br> dernier cri adaptés à vos besoins</h3>
                    </div>

                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="box yellow">
                    <div class="centered">
                        <h1>Bénéficiez de notre compétence</h1>
                        <h3>Faites confiance au spécialiste<br> du traitement d'air</h3>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="box pink">
                    <div class="centered">
                        <h1>La solution qui vous ressemble</h1>
                        <h3>Équipez vos locaux grâce<br> à diverses solutions sur mesure</h3>
                    </div>
                </div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>

