/*
 * HOME VIEW SLIDER
 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Oswald-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

body {
  font-family: 'Open Sans', sans-serif;
}

ion-view[view-title="EGE"] ion-content {
  background: #fff url(../img/intro-bg.jpg) center center no-repeat;
  background-size: cover;
}

.box {
  height: 100%;
  text-align: center;
  white-space: nowrap;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
    margin-top: -300px;
  }
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h1,
  h3 {
    color: #fff;
    text-align: center;
    max-width: 100%;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
  }
  .centered {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
  }
}

/*
 * PRESENTATION PAGE
 */

.header-pres {
  margin: 0;
  background-color: #ffc107;
  padding: 20px 0px;
  h2 {
    color: #fff;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
  img {
    max-width: 100%;
  }
  .col:nth-child(2) {
    text-align: center;
  }
}

.content-pres {
  padding: 30px 20px;
  background: transparent;
  position: relative;
  overflow: hidden;
  h4 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
  }
  hr {
    width: 60px;
    float: left;
    border: none;
    height: 3px;
    color: white;
    background-color: white;
  }
  p {
    color: #ffffff;
    text-align: justify;
    line-height: 18px;
    font-weight: 300;
  }
}

  /*
   * METIERS PAGE
   */
.header-metiers {
  background-color: #079cff;
  margin: 0;
  padding: 20px 0;
  h2 {
    color: #fff;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }

  img {
    max-width: 100%;
  }
  .col:nth-child(2) {
    text-align: center;
  }
}

.metiers-info-wrapper {
  width: 100%;
  background-color: #F7F7F7;
  margin-right: 5px;
  margin-bottom: 5px;
  .metiers-info {
    padding: 0 10px 10px;
  }
  h4 {
    color: #079cff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
  }
  p {
    text-align: justify;
    color: #777777;
    font-size: 16px;
    font-weight: 200;
  }
}

/*
 * REALISATIONS PAGE
 */

.header-realisations {
  margin: 0;
  background-color: #e20000;
  padding: 20px 0px;
  h2 {
    color: #fff;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
  img {
    max-width: 100%;
  }
  .col:nth-child(2) {
    text-align: center;
  }
}

.content-realisations {
  margin: 0;
}

#realisations {
  background-color: #e20000;
}

.caption__media {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.caption__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform .35s ease-out;
  transition: transform .35s ease-out;
}

.caption__overlay__title {
  -webkit-transform: translateY(-webkit-calc(-100% - 10px));
  transform: translateY(calc(-100% - 10px));
  background: rgba(0, 0, 0, .5);
  text-align: left;
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  padding-left: 10px;
  color: white;
  transition: -webkit-transform .35s ease-out;
  transition: transform .35s ease-out;
  font-weight: 300;
  line-height: 28px;
  position: absolute;
  left: 0;
}

/* Override header color per view */

.nav-bar-block,
.bar {
  background-color: inherit !important;
  border-color: inherit !important;
}

.nav-bar-block .bar.bar-stable {
  .title,
  .button {
    color: #fff;
  }
}

#fixedbutton {
  position: fixed;
  bottom: 60px;
  right: 23px;
  z-index: 10000;
  button {
    min-width: 44px;
    min-height: 44px;
    background-color: #079cff;
    margin-bottom: 5px;
    padding: 0 12px;
    float: right;
    border-radius: 50px;
    color: #fff;
  }
}

#btn-toggle {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #079cff;
  min-width: 44px;
  min-height: 44px;
  padding: 0 12px;
  border-radius: 45px;
  z-index: 10000;
  color: #fff;
  font-size: 22px;
}

#button-list button {
  width: 30px;
  height: 30px;
  background-color: #079cff;
  padding: 0;
  min-width: 30px;
  min-height: 30px;
  display: inline-block;
  line-height: 32px;
  &:before {
    font-size: 18px;
    line-height: 30px;
  }
}

#button-list,
#button-list li {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}

.icon .ion-funnel {
  font-size: 10px;
}

#button-list li {
  text-align: right;
  h5 {
    color: #fff;
    display: inline-block;
    margin-right: 6px;
  }
}

.partners-listing.ng-enter,
.partners-listing.ng-leave,
.partners-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.partners-listing.ng-enter,
.partners-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.partners-listing.ng-move.ng-move-active,
.partners-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.partners-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.partners-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.overlay-realisation {
  background-color: lightgrey;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.1);
  }
}

/*
 * ENGAGEMENTS PAGE
 */

.header-engagements {
  margin: 0;
  background-color: #6ec33f;
  padding: 20px 0px;
  h2 {
    color: #fff;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
  img {
    max-width: 100%;
  }
  .col:nth-child(2) {
    text-align: center;
  }
}

.certification {
  .certification-ribbon {
    padding: 20px;
    text-align: center;
    img {
      width: 240px;
    }
  }
  p {
    margin: 0 10px 10px;
    color: #777;
    text-align: justify;
  }
}

/*
 * SIDE MENU
 */

ion-side-menu {
  background: #2F2F2F;
  background: -webkit-linear-gradient(to left, #2F2F2F, #2F2F2F);
  background: linear-gradient(to left, #2F2F2F, #2F2F2F);
  /*  background: #000 url(../img/menu-bg.jpg) center center no-repeat;*/
  ion-content {
    position: relative;
    header {
      height: 180px;
      width: 100%;
      display: block;
      background: url(../img/menu-bg.jpg) center center no-repeat;
      background-size: cover;
    }
    .contact-bar {
      position: relative;
      left: 0;
      width: 100%;
      text-align: center;
      color: #f7f7f7;
      font-size: 20px;

      .row {
        padding: 0;
      }

      .col-33 {
        height: 60px;
        align-items: center;
        border-right: 1px solid #404040;
        border-top: 1px solid #404040;
        border-bottom: 1px solid #404040;

        &:last-of-type {
          border-right: none;
        }
      }

      .list {
        padding: 20px 10px;
      }

      a {
        display: table;
        height: 60px;
        width: 100%;
        text-decoration: none;
        color: inherit;
        text-align: center;
        font-size: 24px;

        i {
          vertical-align: middle;
          display: table-cell;
        }
      }
      a:nth-child(3):after {
        display: none;
      }
    }
  }
  ion-item.item {
    border: none;
    background: none;
    a.item-content {
      background: none;
      padding: 16px;
      color: #fff;
      font-size: 18px;
      &.activated {
        border: none;
        background: none;
      }
      span {
        vertical-align: middle;
        margin-left: 20px;
      }
    }
  }
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}

ion-view[view-title="EGE"] .swiper-pagination-bullet {
  background: #fff;
}

ion-view[view-title="Engagements"] .swiper-container-horizontal > .swiper-pagination {
  bottom: 260px;

}

.filter-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
  visibility: hidden;
  transition: fade all .5s;
}

.overlay-shown {
  display: block;
  visibility: visible;
}


/*
 * VIDEO BACKGROUND (PRESENTATION)
 */
.video-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 128, 167, 0.8);
  z-index: -10;
  position: absolute;
}

#bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../videos/ege_plomberie.mp4) no-repeat;
  background-size: cover;

}


/*
 * MENU ICONS
 */

.egecon {
  height: 25px;
  width: 25px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

.egecon-leaf {
  background-image: url(../img/icons/leaf.png);
}

.egecon-snow {
  background-image: url(../img/icons/snowflake.png);
}

.egecon-sun {
  background-image: url(../img/icons/sun.png);
}

.egecon-butterfly {
  background-image: url(../img/icons/butterfly.png);
}
